/*container 시작*/

.container{}
.container .inner-container{
 padding: 10px 0;
}
.container .inner-container .index{
 display: flex;
 justify-content: center;
}
.container .inner-container .index .sections{
 flex: 0 1 1280px;
 height: auto;
}
.container .inner-container .index .sections .section.sec1{
 width: 100%;
 height: auto;
}
.container .inner-container .index .sections .section.sec1 .sec-con{
 width: 100%;
 height: 600px;
 position: relative;
 margin-bottom: 10px;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery{
 width: 100%;
 height: inherit;
 position: absolute;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul{
 width: 100%;
 height: inherit;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li{
 width: 100%;
 height: inherit;
 position: absolute;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(1){
 background: url(../../img/img_0.png) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(2){
 background: url(../../img/img_1.png) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(3){
 background: url(../../img/img_2.png) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(4){
 background: url(../../img/img_3.png) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery ul li:nth-child(5){
 background: url(../../img/img_4.png) no-repeat 50%/cover;
}

.container .inner-container .index .sections .section.sec2{
 width: 100%;
 display: flex;
 justify-content: center;
}
.container .inner-container .index .sections .section.sec2 .sec-con{
 flex: 0 1 1000px;
 height: auto;
 box-sizing: border-box;
 /*border: 1px solid;*/
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
 flex: 0 1 33.3333%;
 padding: 0.25%;
 box-sizing: border-box;
 cursor: pointer;
 transition: all 0.2s ease-in-out;
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul>li:hover{
 filter: grayscale(40%);
}
.container .inner-container .index .sections .section.sec2 .sec-con>ul>li img{
 width: 100%;
 height: auto;
 display: block;
}

@media only screen and (max-width:768px){
 .container .inner-container .index .sections .section.sec1 .sec-con{
  height: 500px;
 }
 .container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
  flex: 0 1 50%;
 }
 .footer{
  font-size: 13px;
 }
}
@media only screen and (max-width:640px){
 .header .inner-header .nav .inner-nav .gnb{
  display: none;
 }
 .header .inner-header .nav .inner-nav h1.logo{
  flex: 0 0 120px;
  margin: 0 auto;
 }
 .container .inner-container .index .sections .section.sec1 .sec-con{
  height: 400px;
 }
 .container .inner-container .index .sections .section.sec2 .sec-con>ul>li{
  flex: 0 1 100%;
 }
 .footer{
  font-size: 12px;
 }
 .footer .inner-footer .bottomFcon>span.s1{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

}